# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Azure Functions
local.settings.json

# Logs
*.log
*.jsonl

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Local Power BI exports
equipment.csv
maintenance_history.csv
spare_parts.csv
work_orders.csv

